@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    background-image: url(../images/cropped-RM_page-header_background1-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    padding: 0px 30px;
}

#rick-and-morty-logo {
    background-image: url(../images/Rick-And-Morty-Logo.png);
    background-size: 100% 190%;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 70px;
    margin-top: 15px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 88vw;
    max-width: 1270px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 10px 20px 2px #a3f9f9;
}

nav {
    display: flex;
    border-radius: 15px 15px 0 0;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1300px;
    width: 90vw;
    height: 80px;
    background-color: rgb(67, 67, 67);
    padding: 0px 20px;
    box-shadow: 0px 10px 10px 2px #0000007c;
    z-index: 1;
}

nav > div {
    display: flex;
    gap: 40px;
}

#prevPage, #nextPage {
    background-color: #00b5cc;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    color: white;
    font-size: large;
    padding: 5px 30px;
    box-shadow: none;
    border: none;
    box-shadow: 0px 5px 10px 0px #000000;
    cursor: pointer;
}

#prevPage:hover, #nextPage:hover {
    box-shadow: none;
}

input {
    outline: none;
    border:none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #00b5cc;
    padding: 25px 10px;
    font-size: 18px;
    width: 300px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

input::placeholder {
    color: #00b5cc;
}

#container-cards {
    background-color: hsl(180, 100%, 50%);
    width: 88vw;
    height: 60vh;
    padding: 30px 20px;
    border-radius: 0 0 15px 15px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    overflow: auto;
    max-width: 1270px;
}

#close-button {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    right: 50px;
    cursor: pointer;
    filter: hue-rotate(180deg);
}

#close-button:hover {
    filter: none;
}

.card {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card > h2 {
    color: #574D68;
}

.card > img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    opacity: .7;
    filter: grayscale(1);
}

.card > img:hover {
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1.1);
    transition: ease-in-out 200ms;
    cursor: pointer;
}

#focused-card {
    cursor: default;
}

footer {
    align-self: center;
    padding-bottom: 15px;
    height: 50px;
    color: #353535;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 425px) {
    nav {
        max-height: 100px;
        align-items: center;
        justify-content: center;
        gap: 20px
    }

    input {
        width: auto;
        height: auto;
        font-size: 15px;
        padding: 5px 10px;
    }
    
    #prevPage, #nextPage {
        font-size: 10px;
    }

    #container-card {
        gap: 10px;
    }

    .card {
        font-size: 15px;
        padding: auto;
        gap: 15px;
    }

    .card > img {
        width: 120px !important;
        height: 140px !important;
    }

    #close-button {
        width: 38px;
        height: 38px;
        top: 35px;
        right: 30px;
    }
}

@media screen and (max-width: 1439px) {
    nav {
        height: 150px;
        flex-direction: column-reverse;
    }

    #container-cards {
        gap: 30px;
    }

    .card > img {
        width: 250px;
        height: 300px;
    }
}



@media screen and (min-width: 1440px) {
    nav {
        height: 100px;
    }

    #prevPage, #nextPage {
        padding: 8px 30px;
        font-size: 25px;
    }

    input {
        font-size: 25px;
        width: 500px;
    }

    .card {
        font-size: 19px;
        gap: 15px;
    }

    h2 {
        font-size: 30px;
    }

    .card > img {
        width: 230px;
        height: 270px;
    }
}